{{page-title 'EmberCRUDAPP'}}
<nav>
  <ul>
    <li>
      <LinkTo @route="index">
        Home
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="create">
        Write a post
      </LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}
